.Menu {
    background-color: rgb(46, 46, 102);
    color: white;
    width: 20%;
    font-size: 1rem;

    z-index: 100; /* to cover countries in mobile when toggled open */
}

.Filters {
    background-color: rgb(46, 46, 102);
    position: fixed;
    width: inherit;
    height: 60%;

}

.List {
    text-align: left;
}

fieldset {
    border: none;
    height: 30%;
    overflow-x: hidden;
}

fieldset.population {
    height: 10%;
}

fieldset.Scroll::-webkit-scrollbar {
    width: 6px;
    background-color: #FFFFFF;
}

fieldset.Scroll::-webkit-scrollbar-thumb {
    background-color: #0f7afb;
}

fieldset.Scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #FFFFFF;
}

label {
    text-align: left;
}

.populationRange {
    display: block;
    margin: auto;
}

.FilterTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

button {
    background-color: #0f7afb;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 6px;
}

button:hover {
    cursor: pointer;
}



.Menu.Mobile {
    width: 100%;
}

.Filters.Mobile {
    height: 100%;
}

fieldset.Mobile {
    height: 45%;
}

.Title {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .Menu {
        width: 100%;
    }
    .Filters {
        top: 0;
        height: 100%;
    }

    fieldset {
        height: 45%;
    }
     /* repeated twice */
    fieldset.population {
        height: 10%;
    }

    .List {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .Menu.Close {
        display: none;
    }
}


