.Menu {
    background-color: rgb(46, 46, 102);
    color: white;
    width: 15%;
    font-size: 1rem;

}

.Filters {
    background-color: blueviolet;
    position: fixed;
    width: inherit;
    height: 40%;
    overflow: scroll;
}

.Langs {
    display: grid;
    grid-template-columns: auto auto;
}

.Lang {
    display: flex;
}

fieldset {
    border: none;
    height: 60%;
    overflow: scroll;
}

label {
    text-align: left;
}
